<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
img{
    width: 600px;
}

</style>

</head>
<body>
    <h1>Welcome to the cats page!</h1>
    <p>Heres a cute pic of a cat</p>
    <img src="cat.jpg" alt="cute cat">



<!-- <img src="https://images.pexels.com/photos/1277485/pexels-photo-1277485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""> -->

</body>
</html>