<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Cars and Cats</h1>
    <p>Great place to see some cool pics of cars and cats!</p>

    <p>if you would like to see more. </p>
    <p>go to /cars </p>
    <p>go to /cats </p>
    <p>Go to /form </p>
    
</body>
</html>